
body {
    font-family: 'Roboto', sans-serif;
    background: #ff9233;
}
.content {
    background: #ff9233;
    /* Give myself a max width */
    max-width: 650px;
    /* Center myself! */
    margin-left: auto;
    margin-right: auto;
    /* Add some space "padding" on the side */
    padding: 20px;
}

h1 {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}

h2 {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}

h3 {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}

h4 {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}

h5 {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
}

