
body {
    font-family: 'Roboto', sans-serif;
    background: #ff9233;
     }
.content {
    background: #ff9233;
    /* Give myself a max width */
    max-width: 650px;
    /* Center myself! */
    margin-left: auto;
    margin-right: auto;
    /* Add some space "padding" on the side */
    padding: 20px;
}

#info {
    color: purple;
    font-family: 'Fredoka One', cursive;
    font-size: 190px;
}

#aboutheading {
    color: #006600;
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    font-weight: bold;
    text-align: center
}

#synopsis {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 34px;
    text-align: center;
}

#abouttext {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 23px;
}


#subhead {
    color: #003300  ;
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    text-align: center;
}

#moodtext {
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    text-align: center;
}

#allabouttext
{
    align-content: center;
    vertical-align: middle;
    padding-left: 200px;
    padding-right: 200px;
    
}
