body {
    font-family: 'Roboto', sans-serif;
    background: #d9d9d9;
}

#chat {
    background: #d9d9d9;
    align-content: center;
    text-align: center;
    color: green;
    vertical-align: middle;
    padding: 30px;
    font-size: 60px;
}
#argueTalkMore{
    color: #33adff;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-size: 135px;
}
#againstlabel {
    width: 400px;
    height: 20px;
    size: 40px;
}
#forlabel {
    width: 400px;
    height: 20px;
    size: 40px;
}

h2 {
    background: #d9d9d9;
    align-content: center;
    text-align: center;
    color: black;
    vertical-align: middle;
    font-size: 50px;
}

#against {
    font-size: 40px;
    color: #007acc;
    font-family: 'Righteous', cursive;
    padding-bottom: 35px;
}
#subbutton {
    font-size: 20px;
    color: #007acc; 
    font-family: 'Righteous', cursive;
}
#for {
    font-size: 40px;
    color: #007acc;
    font-family: 'Righteous', cursive;
    padding-bottom: 35px;
}

.button {
        background-color: #4d4d4d;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        margin: 20px 20px;
        border-radius: 20px;
  }
  #center {
    align-content: center;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 50px;
}
#link {
    color: blue;
}

#content {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}