.button {
    background-color: #4d4d4d;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 20px 20px;
    border-radius: 20px;
}

#content {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

#hometitle{
    color: #33adff;
    font-family: 'Fugaz One', cursive;
    font-size: 135px;
}