body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
}

#chat {
    background: whitesmoke;
    align-content: center;
    text-align: center;
    color: green;
    vertical-align: middle;
    padding: 25px;
    font-size: 60px;
}

#center {
    align-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
}
#twinTalkMore{
    color: #33adff;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-size: 135px;
}

#interest {
    width: 400px;
    height: 20px;
    size: 50px;
}

#interestlabel {
    font-size: 50px;
    color: #007acc;
    font-family: 'Righteous', cursive;
    padding-bottom: 35px;
}

#subbutton {
    font-size: 20px;
    color: #007acc; 
    font-family: 'Righteous', cursive;
}

#link {
    color: blue;
}